// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


// input box for schedule info form
input.schedule-info-box {
    width: 5rem;
    text-align: center;

    &:hover {
        border-color: #272727;
    }
}