  .icons i {
    color: #b5b3b3;
    border: 1px solid #b5b3b3;
    padding: 6px;
    margin-left: 4px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .list-group li.schedule-item {
    margin-bottom: 12px;
  }
  
  input.crontab-box {
    width: 5rem;
    text-align: center;
  }

  input.crontab-box:hover {
    border-color: #272727;
  }
  
  .list li.schedule-item {
    list-style: none;
    padding: 10px;
    border: 1px solid #e3dada;
    margin-top: 12px;
    border-radius: 5px;
    background: #fff;
  }
  
  .checkicon {
    color: green;
    font-size: 1.4rem;
  }

  .xmarkicon {
    color: red;
    font-size: 1.4rem;
  }

  .checkicon:hover, .xmarkicon:hover {
    cursor: pointer;
  }
  
  .date-time {
    font-size: 12px;
  }